@font-face {
  font-family: "Gabarito";
  src: url("../fonts/Gabarito-VariableFont_wght.ttf");
}
body {
  background-color: #2f3640;
  background-image: url("../img/dna.svg");
  background-repeat: repeat;
  background-size: 40px;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Gabarito";
}

.title {
  color: white;
  text-align: center;
  font-weight: 600;
}

/* create a box for simulator and add the canvas to it */
.simulator {
  background: #2f3640;
  border: 1px solid #2f3640;
  border-radius: 30px;
  margin: 20px 20px;
  overflow: hidden;
}

.subtitle {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.content {
  color: rgba(255, 255, 255, 0.7);
}

.important-content {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

canvas {
  width: 100%;
  height: auto;
  max-width: 400px; /* Set a maximum width if necessary */
}

/* For screens smaller than 768px (typical phone width) */
@media (max-width: 768px) {
  body {
    background-size: 20px; /* Adjust background size for smaller screens */
  }

  .title {
    font-size: 18px; /* Decrease font size for smaller screens */
    margin-top: 20px; /* Add some top margin to the title for spacing */
    text-align: center; /* Center-align the title */
    white-space: normal; /* Allow the title to wrap onto multiple lines */
  }

  /* Adjust other styles as needed for smaller screens */
}

/* For screens smaller than 768px (typical phone width) */
@media (max-width: 768px) {
  body {
    background-size: 20px; /* Adjust background size for smaller screens */
  }

  .title {
    font-size: 18px; /* Decrease font size for smaller screens */
    margin-top: 20px; /* Add some top margin to the title for spacing */
    text-align: center; /* Center-align the title */
    white-space: normal; /* Allow the title to wrap onto multiple lines */
  }

  /* Adjust other styles as needed for smaller screens */

  canvas {
    width: 100%; /* Make the canvas full width on smaller screens */
    height: auto; /* Automatically adjust the height */
    max-width: none; /* Remove any maximum width */
  }
}

/* For screens larger than 768px */
@media (min-width: 769px) {
  body {
    background-size: 40px; /* Adjust background size for larger screens */
  }

  .title {
    font-size: 36px; /* Increase font size for larger screens */
    margin-top: 40px; /* Add more top margin for spacing */
  }

  canvas {
    width: 100%; /* Set canvas width to 80% of the screen width on larger screens */
    height: auto; /* Automatically adjust the height */
    max-width: none; /* Remove any maximum width */
  }

  /* Reset other styles for larger screens if necessary */
}
